{% extends "events/base.html" %}
{% block title %}Search Page{% endblock %}
{% block content %}


<style>
    body{
        background: #FFC470;
    }
</style>

<div class="card border-dark mb-4">
    <div class="card-header">
        <strong>Search Venue</strong>
    </div>
    <div class="card-body">
        <form class="d-flex" role="search" method="POST" action="{% url 'search-venues' %}">
            {% csrf_token %}
            <input class="form-control me-3" type="search" placeholder="Search Venues" aria-label="Search"
                name="searched" style="margin-top: 1em; width:62em">
            <button class="btn btn-dark" type="submit" style="margin-top: 1em;">Search</button>
        </form>
    </div>
</div>

{% if searched %}
<center>
    <h1>Venues</h1>
</center>
<br>
<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            {% if user.is_authenticated %}
            <th scope="col" style="width: 13em;"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for venue in venues %}
        <tr style="height: 3em;">
            <td>
                <strong><a href="{% url 'show-venue' venue.id %}" class="link-dark">{{ venue }}</a></strong>
            </td>
            <td>{{ venue.address }}</td>
            {% if user.is_authenticated %}
            {% if user.id == venue.owner %}
            <td align="right"><a href="{% url 'update-venue' venue.id %}"
                    class="btn btn-outline-dark btn-sm me-md-1">Update</a>
                <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm me-md-1">Delete</a>
            </td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'list-event' %}" class="btn btn-dark me-md-2">Back to Events List</a>
<br><br><br>

{% endif %}
{% endblock %}